*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
li{
  list-style-type: none;
}
input{
  padding:0 12px !important;
}
.public-crumbs{
  display:flex;
  align-items: center;
  height:38px;
  background:#fff;
  border-bottom:1px solid rgba(245,245,245,1);
  margin:0  -15px;
  padding:0 12px;
}
.public-crumbs>span{
  font-size:12px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color:rgba(102,102,102,1);
  display:none
}
.public-crumbs>a{
  font-size:12px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color:rgba(102,102,102,1);
}
.public-crumbs>img{
  width:16px;
  height:16px;
}
.header-nav-bg{
  position: fixed;
  top:0;
  left:0;
  right:0;
  height:56px;
  background:linear-gradient(233deg,rgba(69,69,69,1) 0%,rgba(33,33,33,1) 100%);
  z-index:999;
}
.header-nav{
  max-width:1100px;
  margin:0 auto;
  padding:0 16px;
  display:flex;
  justify-content: space-between;
}
.header-nav-left{
  height:56px;
  display:flex;
  align-items: center;
}
.header-nav-left>img{
  width:36px;
  height:36px;
}
.header-nav-left>label{
  font-size:16px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color:rgba(255,255,255,0.7);
  margin-left:18px;
  display:none;
}
.header-nav-right{
  display:flex;
  align-items: center;
}
.header-nav-right>img{
  width:24px;
  height:24px;
}
.header-nav-right-content{
  position: fixed;
  top:56px;
  left:0;
  right:0;
  bottom:0;
  background:rgba(0,0,0,0.7);
  display:none;
}
.header-nav-right-content>div{
  display:flex;
  flex-direction: column;
  position: absolute;
  top:0;
  left:0;
  right:0;
  background:#fff;
  padding:24px 0 24px 24px;
}
.header-nav-right-content>div>a{
  padding:8px 0;
  color:#888;
  text-decoration:none;
  border-bottom:1px solid rgba(246,246,246,1);
  font-size:14px;
}
.header-nav-right-content>div>a.active{
  color:#3068eb;
}
.header-nav-height{
  height:56px;
}
/* 验证弹窗 */
.toast{
  position: fixed;
  top:300px;
  left:0;
  right:0;
  z-index:9999;
  color:#fff;
  text-align:center;
  display:flex;
}
.toast>span{
  background:rgba(0,0,0,0.8);
  margin:auto;
  padding:5px 10px;
  border-radius:5px;
  display:none;

}
/* 开发常见问题 */
.public-problem{
  padding:0 !important;
  margin-top:8px;
}
.public-problem-title{
  display:flex;
  justify-content: space-between;
  align-items: center;
  height:50px;
  padding:0 16px; 
  background:#fff;
}
.public-problem-title>h4{
  font-size:16px;
  font-family:PingFangSC-Semibold,PingFang SC;
  font-weight:600;
  color:rgba(51,51,51,1);
}
.public-problem-title>a{
  font-size:14px;
  font-family:PingFangSC-Semibold,PingFang SC;
  font-weight:600;
  color:rgba(48,104,235,1);
}
.public-problem>ul{
  padding:0 16px; 
  background:#fff;
  margin:0;
}
.public-problem>ul>li{
  height:32px;
  line-height:32px;
  font-size:14px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color:rgba(51,51,51,1);
  display:flex;
  align-items: center;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}
.public-problem>ul>li::before{
  display:inline-block;
  content: '';
  margin-right:10px;
  width:6px;
  height:6px;
  background:#C7CBCF;
  border-radius:50%;
  color:red;
}
.public-problem-demand{
  display:block;
  width:100%;
  border:none;
  position: fixed;
  left:0;
  right:0;
  bottom:0;
  height:48px;
  background:rgba(48,104,235,1);
  font-size:14px;
  font-family:PingFangSC-Semibold,PingFang SC;
  font-weight:600;
  color:rgba(255,255,255,1);
  outline:none;
}
.public-problem>a{
  font-size:14px;
  font-family:PingFangSC-Semibold,PingFang SC;
  font-weight:600;
  color:rgba(48,104,235,1);
  display:none;
  background:#fff;
}
@media screen and (min-width: 768px) {
  .public-crumbs{
    height:50px;
    background:none;
    border:none;
  }
  .public-crumbs>span{
    display:block;
  }
  .header-nav-bg,.header-nav-left,.header-nav-height{
    height:81px;
  }
  .header-nav-left>img{
    width:56px;
    height:56px;
  }
  .header-nav-left>label{
    display:block;
  }
  .header-nav-right{
    display:none;
  }
  .public-problem{
    margin:0;
    background:rgba(255,255,255,1);
    box-shadow:0px 2px 2px 0px rgba(0,0,0,0.05);
    border-radius:4px;
  }
  .public-problem-title{
    border-radius:4px 4px 0 0;
  }
  .public-problem-title>a{
    display:none;
  }
  .public-problem>a{
    display:block;
    font-size:14px;
    font-family:PingFangSC-Semibold,PingFang SC;
    font-weight:600;
    color:rgba(48,104,235,1);
    padding-left:16px;
    height:48px;
    line-height: 48px;
  }
  .public-problem-demand{
    position:static;
    border-radius:0px 0px 4px 4px;
    outline:none;
  }
}
