.DS_Store
admin/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
admin/package-lock.json
admin/tests/**/coverage/

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
